﻿<script>
    var instrCntr = 0;
    var stock = -1;
    var type = -1;
    var cntr = 0;
    var stockCode = '';
    var stockName = '';
    var stockList = [];
    var formData = [];    
    var today = new Date();
    var datefrom = new Date(today.getFullYear() - 1, today.getMonth(), today.getDate());
    var dateto = new Date();        
    var dateFromStr = datefrom.toISOString();
    var dateToStr = dateto.toISOString();
    var container = document.getElementById('container');

    $(function () {
        container = document.getElementById('container');
        datefrom.setFullYear(dateto.getFullYear() - 1);
        $("#datefrom").ejDatePicker({
            value: datefrom,
            dateFormat: "yyyy-MM-dd",
            change: function (arg) {
                dateFromStr = arg.value;
            }
        });
        $("#dateto").ejDatePicker({
            value: dateto,
            dateFormat: "yyyy-MM-dd",
            change: function (arg) {
                dateToStr = arg.value;
            }
        });
    });

    function getStockList(type) {
        console.log('getStockList type=', type);
        stockList = GetLocalStorage('stockList_' + type);
        if (stockList !== false && Array.isArray(stockList)) {
            console.log('IF', stockList);
            InitStockDropDown();
        }
        else {
            AjaxCall('GET', '/api/getStockList/', { type: type }, function (response) {
                stockList = response.list;
                console.log('ELSE', stockList);
                SetLocalStorage('stockList_' + type, stockList);
                InitStockDropDown();
            });
        }
    }

    function addInstrument() {
        formData.push({ type: -1, stock: -1, text: '' });
        var instrDiv = document.createElement('div');
        instrDiv.id = 'instr' + instrCntr;
        instrDiv.classList.add('row');

        var typeLabel = document.createElement('label');
        typeLabel.classList.add('checkbox-inline');
        typeLabel.id = 'type' + instrCntr;
        typeLabel.innerHTML = '<b>Type</b><input id="typeList' + instrCntr+'" type="text" />';

        var stockLabel = document.createElement('label');
        stockLabel.classList.add('checkbox-inline');
        stockLabel.id = 'stock' + instrCntr;
        stockLabel.innerHTML = '<b>Stock</b><input id="stockList' + instrCntr + '" type="text" />';

        instrDiv.appendChild(typeLabel);
        instrDiv.appendChild(stockLabel);
        
        document.getElementById('instruments').appendChild(instrDiv);

        initTypeListDropDown(instrCntr);
        instrCntr++;
    }

    function initTypeListDropDown(id){
        $('#typeList'+id).ejDropDownList({
            dataSource: typeList,
            selectedIndex: 0,
            fields: { text: "name", value: 'Id' },
            width: 260,
            dataBound: function (args) {
                $('#typeList'+id).ejDropDownList("selectItemsByIndices", "0");
            },
            change: function (arg) {
                console.log('typeList' + id + ' Change:', arg);
                formData[id].type = arg.value;
                type = arg.value;
                getStockList(id, arg.value);
                var typeList = [
                    { name: "Otp Funds", Id: 1 },
                    { name: "Stocks", Id: 2 },
                    { name: "Hungarian Equities", Id: 6 },
                    { name: "Hungarian Mutual Funds", Id: 7 },
                    { name: "Hungarian Equities (BÉT)", Id: 8 },
                    { name: "Hungarian Max Indexes", Id: 9 }
                ];
            }
        });
    }

    function getStockList(id, type) {
        console.log('getStockList id=' + id + ', type=' + type);
        stockList = GetLocalStorage('stockList_' + type);
        if (stockList !== false && Array.isArray(stockList)) {
            console.log('IF', stockList);
            InitStockDropDown(id);
        }
        else {
            AjaxCall('GET', '/api/getStockList/', { type: type }, function (response) {
                stockList = response.list;
                console.log('ELSE', stockList);
                SetLocalStorage('stockList_' + type, stockList);
                InitStockDropDown(id);
            });
        }
    }

    function InitStockDropDown(id) {
        if (stockList.length > 0) {
            stock = stockList[0].Id;
        }
        $('#stockList'+id).ejDropDownList({
            dataSource: stockList,
            selectedIndex: 0,
            fields: { text: "name", value: 'Id' },
            width: 260,
            dataBound: function (args) {
                console.log('stockList'+id+' dataBound');
                $('#stockList' + id).ejDropDownList("selectItemsByIndices", "-1");
            },
            change: function (arg) {
                console.log('stock changed. id=' + id + ' arg:', arg);
                formData[id].stock = arg.value;
                formData[id].text = arg.text;
            }
        });
    }

    function compare() {
        var data = {};
        data.datefrom = dateFromStr;
        data.dateto = dateToStr;
        data.formData = formData;
        console.log('compare data', data);
        var prev = document.getElementById('chart' + cntr);
        if (prev) prev.innerHTML = '';
        AjaxCall('POST', '/api/compareInstruments/', data, function (response, error) {
            console.log('compareInstruments', response);
            DrawCompareChart(response);
        });
    }


    function compareMT() {
        var data = {};
        data.datefrom = dateFromStr;
        data.dateto = dateToStr;
        data.formData = formData;
        console.log('compare data', data);
        var prev = document.getElementById('chart' + cntr);
        if (prev) prev.innerHTML = '';
        AjaxCall('POST', '/api/compareInstrumentsMT/', data, function (response, error) {
            console.log('compareInstruments', response);
            DrawCompareChart(response);
        });
    }

    function DrawCompareChart(data) {
        initAxes('compare');
        initSeriesArray(data.PercentData);

        for (var i = 0; i < data.DateTimeData.points.length; i++) {
            var d = data.DateTimeData.points[i].substring(0, 10);
            for (var pd = 0; pd < data.PercentData.length; pd++) {
                seriesArray[pd].points.push({ x: d, y: data.PercentData[pd].points[i] });
            }
        }
        PriceAxis.range = {};
        PriceAxis.range.min = data.min;
        PriceAxis.range.max = data.max;
        //PriceAxis.range.interval = 1; //TODO
        console.log('seriesArray', seriesArray);
        container = document.getElementById('container');

        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }

        var id = 'chart' + ++cntr;
        var newDiv = document.createElement("div");
        newDiv.id = id;
        newDiv.name = id;
        container.appendChild(newDiv);
        MultipleAxesChart('#chart' + cntr, data.DateFrom.substring(0, 10) + ' - ' + data.DateTo.substring(0, 10), false);
    }

</script>

<h2>Comparer</h2>

<div class="container">

    <div class="panel panel-info">
        <div class="panel-heading">
            <center>
                <form method="post" action="CompareAction">

                    <div class="row">
                        <label class="checkbox-inline">
                            <b>From</b><input id="datefrom" type="text" />
                        </label>
                        <label class="checkbox-inline">
                            <b>To</b><input id="dateto" type="text" />
                        </label>
                    </div>

                    <div class="row" id="instruments">
                    </div>

                    <div class="row" style="margin-top:1em;">
                        <button id="addBtn" type="button" class="btn btn-default" onclick="addInstrument()">Add instrument</button>
                        <button id="compareBtn" type="button" class="btn btn-primary" onclick="compare()">Compare</button>
                        <button id="compareMTBtn" type="button" class="btn btn-primary" onclick="compareMT()">CompareMT</button>
                    </div>

                </form>
            </center>
        </div>
        <div class="panel-body">
            <div id="container"></div>
        </div>
    </div>

</div>
